<mat-toolbar>
    <mat-toolbar-row>
        <span>First Row</span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav mode="side" #sidenav [(opened)]="opened" (opened)="events.push('open!')" (closed)="events.push('close!')">Start</mat-sidenav>
    <mat-sidenav-content>
        <mat-tab-group>
            <mat-tab label="test">
                <div flex fxLayout="row wrap" fxLayoutAlign="space-around center">
                    <div fxFlex="50">
                        <mat-card>
                            <mat-card-title>Open?</mat-card-title>
                            <mat-card-content>
                                <p>
                                    <mat-checkbox [(ngModel)]="opened">sidenav.opened</mat-checkbox>
                                </p>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div fxFlex="50">
                        <mat-card>
                            <mat-card-title>Events</mat-card-title>
                            <mat-card-content>
                                <p>Events:</p>
                                <div class="example-events">
                                    <div *ngFor="let e of events">{{e}}</div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div fxFlex="50">
                        <mat-card>
                            <mat-card-title>Toggle</mat-card-title>
                            <mat-card-content>
                                <p>
                                    <button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button>
                                </p>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div fxFlex="50">
                        <mat-card>
                            <mat-card-title>Toggle</mat-card-title>
                            <mat-card-content>
                                <p>
                                    <button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button>
                                </p>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </mat-tab>
            <!-- <mat-tab label="Second">
                <mat-card>
                    <mat-card-title>Test</mat-card-title>
                    <mat-card-content>
                        <div flex fxLayout="row wrap">
                            <div fxFlex="100">
                                Body
                                <button mat-button>Click me!</button>
                                <div fxLayout="row" fxLayout.xs="column">
                                    <mat-checkbox>Check me!</mat-checkbox>
                                    <mat-checkbox>Check me!</mat-checkbox>
                                    <mat-checkbox>Check me!</mat-checkbox>
                                    <mat-checkbox>Check me!</mat-checkbox>
                                    <mat-checkbox>Check me!</mat-checkbox>
                                    <mat-checkbox>Check me!</mat-checkbox>
                                </div>
                            </div>
                            <div fxFlex="100">
                                Body
                                <button mat-button>Click me!</button>
                                <mat-checkbox>Check me!</mat-checkbox>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
                <mat-card>
                    <mat-card-title>Test</mat-card-title>
                    <mat-card-content>
                        <div flex fxLayout="row">
                            <div fxFlex="100">
                                Body
                                <button mat-button>Click me!</button>
                                <mat-checkbox>Check me!</mat-checkbox>
                            </div>
                            <div fxFlex="100">
                                Body
                                <button mat-button>Click me!</button>
                                <mat-checkbox>Check me!</mat-checkbox>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </mat-tab>
            <mat-tab label="Third">
                <mat-grid-list cols="4" rowHeight="1:1">
                    <mat-grid-tile>
                        <mat-card>
                            <mat-card-title>Test</mat-card-title>
                            <mat-card-content>Body
                                <button mat-button>Click me!</button>
                                <mat-checkbox>Check me!</mat-checkbox>
                            </mat-card-content>
                        </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card>
                            <mat-card-title>Test</mat-card-title>
                            <mat-card-content>Body
                                <button mat-button>Click me!</button>
                                <mat-checkbox>Check me!</mat-checkbox>
                            </mat-card-content>
                        </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card>
                            <mat-card-title>Test</mat-card-title>
                            <mat-card-content>Body
                                <button mat-button>Click me!</button>
                                <mat-checkbox>Check me!</mat-checkbox>
                            </mat-card-content>
                        </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card>
                            <mat-card-title>Test</mat-card-title>
                            <mat-card-content>Body
                                <button mat-button>Click me!</button>
                                <mat-checkbox>Check me!</mat-checkbox>
                            </mat-card-content>
                        </mat-card>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-tab> -->
        </mat-tab-group>
    </mat-sidenav-content>

</mat-sidenav-container>