<div *ngFor="let question of questions; let i = index">
    <div *ngIf="question.visible" [ngSwitch]="question.controlType" class="switch">
        <mat-card>
            <mat-card-title>Test</mat-card-title>
            <mat-card-content>
                <f-checkbox-group *ngSwitchCase="'checkboxGroup'" [dataProvider]="question.list"></f-checkbox-group>
                <f-date-time-range *ngSwitchCase="'timeRange'" [label]="question.label" [start]="question.start" [end]="question.end"></f-date-time-range>
                <f-dropdown *ngSwitchCase="'dropdown'" [dataProvider]="question.options" [label]="question.label"></f-dropdown>
                <f-textbox *ngSwitchCase="'textbox'" [dataProvider]="question.key" [label]="question.label"></f-textbox>

            </mat-card-content>
        </mat-card>
    </div>
</div>